body {
    background-color: #0C494B;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #B0BEC5;
    background: #0C494B;
    background: linear-gradient(10deg,rgba(12, 73, 75, 1) 19%, rgba(0, 96, 100, 1) 75%);
    padding: 20px;
}


.productsList{
    display:flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap; 
    padding: auto;
    gap: 20px; 
    margin-top: 30px;
    
}


header {
    background-color: #0c494b;
    color: #d1dbe0;
    text-align: center;
    font-size: 25px;
}

.links {
    text-align: center;
    color: #B0BEC5;
}



.productsList {
    font-size: 15px;
    font-weight: bold;
}

.product1{
    background-color: #0a3b3d;
    padding: 26px;
    border-radius: 15px;
    max-width: 600px;
    color: #B0BEC5;
    font-size: 20px;
    text-align: left;
}

.subtitle1 {
    font-size: 25px;
    font-weight: bold;
    text-align: justify;
    color: #B0BEC5;
    background-color: #123536;
    padding: 25px;
    border-radius: 30px;
    max-width: 1100px;
    margin-bottom: 20px;

}

.textinho{
    font-size: 18px;
    color: #d1dbe0;
}

.orcamento {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #B0BEC5;
}

.ourProducts {
    text-align: center;
    font-size: 60px;
    color: #B0BEC5;
    background-color: #123536;
    padding: 90px;
    border-radius: 30px;
    max-width: 5000px;
}

.introducao{
    background-color: #0c494b;
    padding: 20px;
}

footer {
    background-color: #0c494b;
    color: #d1dbe0;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}


