/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo e plano de fundo */
body {
  font-family: Arial, sans-serif;
  background-color: #141414;
  color: #fff;
}

/* Cabeçalho */
.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 20px;
}

.bannerPrincipal {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; 
  position: relative;
}

.bannerPrincipal img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: translateY(15%);
}

.info-bannerPrincipal {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

.navLinks nav a{
  text-align: right;
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2em;
}

.navLinks nav a:hover {
  color: red;
}

.links nav a:hover {
  color: red;
}

.titulo {
  font-family: Helvetica, sans-serif;
  color: red;
  text-align: left;
}

/* Banner principal */
.banner {
  background: url('imagens/capa.jpg') center/cover no-repeat;
  height: 300px;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 1.5em;
}

/* Categorias */
.categoria {
  margin: 20px 0;
}

.categoria h2 {
  margin: 10px 20px;
}

/* Carrossel */
.carrossel {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  gap: 10px;
}

.filme img {
  width: 180px;
  height: 280px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.filme img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(255,255,255,0.4);
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal:target {
  display: flex;
}

.conteudo-modal {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.conteudo-modal img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.fechar {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}

/* Responsividade */
@media (max-width: 600px) {
  .filme img {
    width: 120px;
  }
}